html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-height: 100%;
}

body {
    color: #0C1F31;
    background: #fff;
    font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}
img {
    max-width: 1000px;
}

.wrapper {
    width: 900px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 120px;
}

p {
    width: 900px;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    line-height: 35px
}
ul {
  list-style-type: none;
}
.down-arrow {
    font-size: 120px;
    margin-top: 90px;
    margin-bottom: 90px;
    text-shadow: 0px -20px #5c6971, 0px 0px #e2001a;
    color: rgba(0,0,0,0);
    cursor: pointer;

    -webkit-transform: scaleY(0.8);
    -moz-transform: scaleY(0.8);
    transform: scaleY(0.8);
}

.footer {
    box-sizing: border-box;
    padding-top: 190px;
    height: 300px;
}

.broken-elevator {
    width: 80px;
    margin-right: auto;
    margin-left: 0;
}

.elevator {
    width: 80px;
    margin-left: auto;
    margin-right: 0px;
}

.elevators {
    text-align: center;
    cursor: pointer;
    width: 160px;
    margin: auto;
}

.elevators p {
    text-align: center;
    width: 100%;

    font-weight: bold;
    font-size: 18px;
}

.elevator:hover, .broken-elevator:hover {
    opacity: 0.7;
}

.elevator svg, .broken-elevator svg {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.github-link {
    position: fixed;
    top: 0px;
    right: 0px;
}

.links {
    margin-top: 25px;
    font-size: 16px;
    font-weight: bold;
}

.links a, iframe {
    margin-left: 10px;
    margin-right: 10px;
}

iframe {
    margin-bottom: -3px;
}

.links a, a.popup {
    text-decoration: none;
    color: #0C1F31;
}

#countdown {
  font-size: 30px;
}
.countdown-dialog {
  margin-top: 100px;
  margin-bottom: 0px;
}

img {
  max-width: 640px;
  max-height: 640px;
}

#elevator-status{
    margin-top: 20px;
}
